.dashboard {
  display: flex;
  min-height: 100vh;
  background: #0f172a;
  color: white;
}

/* SIDEBAR */

.sidebar {
  width: 260px;
  background: rgba(255,255,255,0.06);

  border-right: 1px solid rgba(255,255,255,0.1);

  backdrop-filter: blur(15px);

  padding: 30px 20px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #60a5fa;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-item {
  padding: 14px;
  border-radius: 12px;
  transition: 0.3s;
  cursor: pointer;
}

.menu-item:hover {
  background: rgba(255,255,255,0.08);
}

/* MAIN */

.dashboard-main {
  flex: 1;
  padding: 30px;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 30px;
}

.nav-title {
  font-size: 28px;
  font-weight: bold;
}

.user-box {
  background: rgba(255,255,255,0.08);
  padding: 12px 20px;
  border-radius: 12px;
}

/* SEARCH */

.search-box {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.search-input {
  flex: 1;

  padding: 14px;

  border: none;

  border-radius: 12px;

  background: rgba(255,255,255,0.08);

  color: white;

  font-size: 16px;
}

.search-button {
  padding: 14px 24px;

  border: none;

  border-radius: 12px;

  background: #2563eb;

  color: white;

  font-size: 16px;
}

/* CANDIDATES */

.candidate-grid {
  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(320px, 1fr));

  gap: 20px;
}

.candidate-card {
  background: rgba(255,255,255,0.08);

  border: 1px solid rgba(255,255,255,0.1);

  border-radius: 20px;

  padding: 20px;

  transition: 0.3s;
}

.candidate-card:hover {
  transform: translateY(-5px);
}

.candidate-name {
  font-size: 22px;
  margin-bottom: 10px;
}

.skill-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  margin-top: 15px;
}

.skill {
  background: #1d4ed8;

  padding: 8px 14px;

  border-radius: 30px;

  font-size: 14px;
}

.match-score {
  margin-top: 20px;

  color: #60a5fa;

  font-weight: bold;
}