.navbar{
height:80px;
background:#0f172a;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 40px;
position:fixed;
top:0;
left:0;
right:0;
z-index:1000;
border-bottom:1px solid rgba(255,255,255,0.08);
color:white;
}

.navbar h1{
margin:0;
color:#38bdf8;
}

.navbar p{
margin-top:5px;
font-size:14px;
color:#94a3b8;
}

.profile{
background:#38bdf8;
padding:12px 20px;
border-radius:12px;
font-weight:bold;
color:black;
}

.sidebar{
width:250px;
height:100vh;
background:#020617;
position:fixed;
left:0;
top:80px;
padding:30px;
border-right:1px solid rgba(255,255,255,0.08);
color:white;
}

.sidebar h2{
margin-bottom:30px;
cursor:pointer;
transition:0.3s;
font-size:20px;
}

.sidebar h2:hover{
color:#38bdf8;
transform:translateX(10px);
}